<!DOCTYPE html>
<html>
  <head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="static/theme_style.css">
  </head>

<body>
    <nav>
        <h2>Content</h2>
        <p><a href="/">Homepage</a></p>
        <p><a href="about_life_style">About Life Style dataset</a></p>       
        <p><a href="life_style_sample_dataset">Life Style Sample Dataset</a></p>
        <p><a href="about_personal_expenses">About Personal Expenses dataset</a></p>
        <p><a href="filter_personal_expenses_dataset">Personal Expenses Dataset</a></p>
        <p><a href="submit">Add data to Personal Expenses Dataset</a></p>
    </nav>
    <main class="container">
        <h1>About Personal Expenses dataset</h1>
        <p style="text-align: justify;">
            The Personal Expense dataset used in this study was sourced from Kaggle <a href="https://www.kaggle.com/datasets/sanjay3454chauhan/personal-expense-data">(Chauhan, 2023)</a>.
            It contains Sanjay Chauhan’s personal expense records collected in March 2023. 
            The dataset documents what he ate at different times of the day and how much money he spent on various items. 
            Its primary purpose is to analyze spending behavior and food-related expenses. 
            The dataset includes 144 rows and 6 variables.
        </p>

        <h2>Description of Final Dataset</h2>
        <table>
            <thead>
            <tr>
                <th>Name </th>
                <th>Data Type </th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>		
                <td>	Date	</td>
                <td>	Date	</td>
                <td>	Date of the event	</td>
            </tr>
            
            <tr>		
                <td>	Item	</td>
                <td>	Object (String)	</td>
                <td>	Item for eating, drinking, clothing or other </td>
            </tr>	

            <tr>		
                <td>	Amount	</td>
                <td>	Float	</td>
                <td>	How much amount of item	</td>
            </tr>

            <tr>		
                <td>	Category	</td>
                <td>	Object (String)	</td>
                <td>	Alone or with friend	</td>
            </tr>	

            <tr>			
                <td>	Time	</td>	
                <td>	Date	</td>	
                <td>	Time of shopping </td>	
            </tr>

            <tr>		
                <td>	day	</td>
                <td>	Object (String)	</td>
                <td>	Name of the day of the event	</td>
            </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
