<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home page</title>
        <link rel="stylesheet" href="static/theme_style.css">
    </head>
    <body>
        <nav>
            <h2>Content</h2>
            <p><a href="/">Homepage</a></p>
            <p><a href="about_life_style">About Life Style dataset</a></p>       
            <p><a href="life_style_sample_dataset">Life Style Sample Dataset</a></p>
            <p><a href="about_personal_expenses">About Personal Expenses dataset</a></p>
            <p><a href="filter_personal_expenses_dataset">Personal Expenses Dataset</a></p>
            <p><a href="submit">Add data to Personal Expenses Dataset</a></p>
        </nav>
        <main class="container">
            <!-- Project Members Section -->
            <div class="header">
                <h1>Welcome to DAB 111 - Group 6  Project</h1>
            </div>            

            <h2>Project Members</h2>
            
            <ul>
                <p><li><a href="https://www.linkedin.com/in/nilari-b-7b73639a/">Nilari Berger Diaz</a></li></p>
                <p><li><a href="https://www.linkedin.com/in/sparkle-charles-99529b23/">Sparkle Charles</a></li></p>
            </ul>
          
             <footer>
                &copy; 2025 DAB 111 - Group 6  Project. All rights reserved.
            </footer>   
        </main>            
    </body>
</html>